
    <!DOCTYPE html>
    <html lang="en">
    <head>
      <title>Medico Site</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"">
      <link rel="stylesheet" href="static/css/bootstrap.min.css">
      <script src="static/js/jquery.min.js"></script>
      <script src="static/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="m-content">

            <div class="nav-wrapper">
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
          <a class="navbar-brand" href="#"><img src="static/image/logo.png" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">HOME  </a></li>
          <li><a href="#">DOCTORS  </a>  </li>

          <li><a href="#">CORPORATES  </a></li>
          <li><a href="#">BLOG</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>

      </div>
    </nav>
    </div>
    </div>
    <section>
      <div class="slider">
        <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="text-slide">
          <h1 class="heading"><span>App for Doctor Consultation &amp; Subscribe or Order Medicine Online</span></h1>
          <p class="para">Consult Right Specialists by Chat or Phone calls, Get Medicines Delivered to Home, Get Samples Collected from Home for Lab Tests!</p>
          <div class="down-app-btn">
            <span><a href="#"><img src="static/image/app-store.png" alt="" class="app-btn" style="margin-right:12%"></a> </span>  <span> <a href=""><img src="static/image/google-play.png" alt="" class="app-btn"></a></span>
          </div>
        </div>
        </div>
        <div class="col-md-7">

        </div>
      </div>
    </div>
      </div>
    </section>
    <section class="app">
      <div class="container">
       <div class="row">

         <div class="col-md-5">
           <div class="web-app">
           <h2 class="app-text">App for Doctor Consultation</h2>
           <p>Now, Consult online with the best General Physicians, Psychologists, Dermatologists, Gynecologists, and other Specialists instantly without appointments.</p>


          </div>
        </div>
        <div class="col-md-7">
          <div class="text-center">
            <img src="static/image/mob-site.png" alt="">
          </div>
                   </div>
       </div>


      </div>
    </section>
    <section class="top-doctors">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div>
                    <h2 class="app-text text-center">What We Offer</h2>
              </div>
          </div>
          </div>
      <div class="row">
      <div class="doctors">
              <div class="col-md-3">
                  <div class="text-center">
                      <img src="static/image/Consultvia.png" alt="">
                      <div class="health-doc">
                      <strong>Consult via
                        chat or phone call – 24x7 </strong>
                  </div>

              </div>
              </div>
              <div class="col-md-3">
                  <div>
                      <img src="static/image/doctors-across.png" alt="">
                      <div class="health-doc">
                      <strong>Over 300+ doctors across
                        12 specializations</strong> </div>

                  </div>
              </div>
              <div class="col-md-3">
                  <div class="text-center">
                      <img src="static/image/E-prescriptions.png" alt="">
                      <div class="health-doc">
                      <strong>Get E-prescriptions For Medicines</strong> </div>

                  </div>
              </div>
              <div class="col-md-3">
                  <div class="text-center">
                    <img src="static/image/Storeyour.png" alt="">
                      <div >
                      <strong>Store your medical records securely</strong> </div>

              </div>
            </div>
          </div>
        </div>
            <div class="row">
              <div style="margin-top:30px">
              <div class="col-md-2"></div>
              <div class="col-md-3">
                  <div class="text-center">
                    <img src="static/image/delivered.png" alt="">
                      <div>
                      <strong>Get medicines delivered to your doorstep.</strong> </div>

                  </div>
              </div>
              <div class="col-md-3">
                  <div class="text-center">
                      <img src="static/image/samples.png" alt="">
                      <div class="health-doc">
                      <strong>Schedule lab tests and <br> get samples collected from home</strong> </div>

                  </div>
              </div>


      <div class="col-md-3">
        <div class="text-center">
            <img src="static/image/healthcare.png" alt="">
            <div class="health-doc">
            <strong>At home healthcare and nursing services.</strong> </div>

        </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
</div>

      </div>

      </section>
      <section class="Consultations">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div>
                      <h2 class="app-text text-center">Specialists Available</h2>
                </div>
            </div>
            </div>
        <div class="row">
        <div class="doctors">
                <div class="col-md-2">
                    <div class="text-center">
                        <img src="static/image/doctor-bag.jpeg" alt="">
                        <div class="text-center">
                        <strong>General Physicians </strong>
                    </div>

                </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <img src="static/image/Dermatologists.jpeg" alt="">
                        <div class="text-center">
                        <strong>Dermatologists</strong> </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="text-center">
                        <img src="static/image/Cardiologists.jpeg" alt="">
                        <div class="text-center">
                        <strong>Cardiologists</strong> </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                      <img src="static/image/Sexologists.jpeg" alt="">
                        <div class="text-center">
                        <strong>Sexologists</strong> </div>

                </div>
              </div>
              <div class="col-md-2">
                <div class="text-center">
                  <img src="static/image/Pediatricians.jpeg" alt="">
                    <div class="text-center">
                    <strong>Pediatricians</strong> </div>

            </div>
          </div>
          <div class="col-md-2">
            <div class="text-center">
              <img src="static/image/Gynecologists.jpeg" alt="">
                <div class="text-center">
                <strong>Gynecologists</strong> </div>

        </div>
      </div>
            </div>
          </div>
              <div class="row">
                <div style="margin-top:30px">
                <div class="col-md-2">
                  <div class="text-center">
                    <img src="static/image/Psychiatrists.jpeg" alt="">
                    <div class="text-center">
                    <strong>Psychiatrists </strong> </div>

                </div>
                </div>
                <div class="col-md-2">
                    <div class="text-center">
                      <img src="static/image/Diabetologists.jpeg" alt="">
                        <div class="text-center">
                        <strong>Diabetologists </strong> </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="text-center">
                        <img src="static/image/Dentists.jpeg" alt="">
                        <div class="text-center">
                        <strong>Dentists</strong> </div>

                    </div>
                </div>


        <div class="col-md-2">
          <div class="text-center">
              <img src="static/image/Gastroenterologists.jpeg" alt="">
              <div class="text-center">
              <strong>Gastroenterologists</strong> </div>

          </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <img src="static/image/Nutritionists.jpeg" alt="">
          <div class="text-center">
          <strong>Nutritionists</strong> </div>

      </div>
      </div>
      <div class="col-md-2">
        <div class="text-center">
          <img src="static/image/Psychologists.jpeg" alt="">
          <div class="text-center">
          <strong>Psychologists</strong> </div>

      </div>
      </div>
    </div>
  </div>
  </div>

        </div>

        </section>
        <section class="you-tube">
         <div class="container">
           <div class="row">
             <div class="col-md-12">
              <div>
                <iframe width="100%" height="500" src="https://www.youtube.com/embed/tHm2mFFlYBk?feature=oembed">
                </iframe>
              </div>
             </div>
           </div>
         </div>
        </section>



    <section class="testimonial">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
              <h2 class="text-center"><strong>What our users have to say</strong></h2>
              <div>
              <div class="seprator"></div>
                  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <div class="row" style="padding: 20px">
                          <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
                          <p class="testimonial_para">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo en.</p><br>
                          <div class="row">
                          <div class="col-sm-2">
                              <img src="static/image/jack.jpg" class="img-responsive" style="width: 80px">
                              </div>
                              <div class="col-sm-10">
                              <h4><strong>Jack Andreson</strong></h4>
                              <p class="testimonial_subtitle"><span>Chlinical Chemistry Technologist</span><br>
                              <span>Officeal All Star Cafe</span>
                              </p>
                          </div>
                          </div>
                        </div>
                      </div>
                     <div class="item">
                         <div class="row" style="padding: 20px">
                          <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
                          <p class="testimonial_para">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo en.</p><br>
                          <div class="row">
                          <div class="col-sm-2">
                              <img src="static/image/kiara.jpg" class="img-responsive" style="width: 80px">
                              </div>
                              <div class="col-sm-10">
                              <h4><strong>Kiara Andreson</strong></h4>
                              <p class="testimonial_subtitle"><span>Chlinical Chemistry Technologist</span><br>
                              <span>Officeal All Star Cafe</span>
                              </p>
                          </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="controls testimonial_control pull-right">
                      <a class="left far fa-angle-left btn btn-default testimonial_btn" href="#carousel-example-generic"
                        data-slide="prev"></a>

                      <a class="right far fa-angle-right btn btn-default testimonial_btn" href="#carousel-example-generic"
                        data-slide="next"></a>
                    </div>
              </div>
            </div>
        </div>
      </div>

    </section>

<section class="family-doctor">
  <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="">
        <h2 class="text-center">India's favourite family doctor app</h2>
      </div>
    </div>

    <div class="col-md-2"></div>
    <div class="col-md-4">

        <div class="text-center medico-border">
         <div class="p-30">
          <i class="far fa-comments fa-8x icon"></i>
         </div>
          <div class="text-center">
          <h4 class="india-favourite">Instant doctor consultations </h4>
        <p class="mt-30">Connect with doctors in real-time
          and get answers to your health
          queries anywhere, anytime</p></div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="text-center medico-border">
      <div class="p-30">
        <i class="fal fa-history fa-8x icon"></i>
      </div>
      <div class="text-center">
      <h4 class="india-favourite">Easy follow-up consultations </h4>
    <p class="mt-30">Follow up with the same doctor you
      consulted previously</p> </div>

    </div>
  </div>
    <div class="col-md-2"></div>
  </div>
  <div class="d-app">
  <div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-4">

        <div class="text-center">
         <div class="p-30">
          <i class="fal fa-edit fa-8x icon"></i>
         </div>
          <div class="text-center">
          <h4 class="india-favourite ">Easy e-prescriptions </h4>
        <p class="mt-30">Get e-prescriptions from the app and
          use them to order medicines in the
          comfort of your home</p></div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="text-center">
        <div class="p-30">
          <i class="fal fa-calendar fa-8x icon"></i>
         </div>
      <div class="text-center">
      <h4 class="india-favourite ">Plan your consultations</h4>
    <p class="mt-30">Choose a doctor of your choice and
      setup a consultation at your
      convenient time
      </p> </div>
    </div>
  </div>
    <div class="col-md-2"></div>
  </div>
  </div>
</div>
</section>

    <section >
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="">
            <div class="col-3 col-sm-3 col-md-3">
              <div>
<a href=""><h2 style="color:#fff">Logo</h2></a>
<p style="color:#fff">The service given was excellent, quick and very helpful. I am really impressed with the time in which the my case was handled. Doctor who assisted me did the analysis quickly asking me right questions and suggesting proper medicine.</p>
</div>
            </div>
            <div class="col-3 col-sm-3 col-md-3">

                <a href=""><h2 style="color:#fff">Quick Links</h2></a>
                <ul class="foot-link">
                  <li>  <a href="">ABOUT</a> </li>
                  <li>   <a href="">TERMS OF SERVICE</a> </li>
                    <li>    <a href="">PRIVACY POLICY</a></li>
                      <li>  <a href="">PRIVACY POLICY</a></li>
                        <li>   <a href="">CONTACT US</a></li>
                  </ul>
                </div>


            <div class="col-3 col-sm-3 col-md-3">
              <div>
                <a href=""><h2 style="color:#fff">Contact</h2></a>
                <ul class="foot-link">
                  <li>   <a href="">Address:</a></li>

                      <li>  <a href="">Email:</a></li>
                        <li>   <a href="">Phone:</a></li>

                  </ul>
                </div>
            </div>

            <div class="col-3 col-sm-3 col-md-3">
              <div>
                <a href=""><h2 style="color:#fff">Social</h2></a>
                <ul class="foot-link">
                  <li>   <a href="#">Facebook</a></li>
                  <li>  <a href="#">Twitter</a> </li>
                  <li>   <a href="#">LinkedIn</a> </li>
                    <li>    <a href="#">Youtube</a></li>


                  </ul>
                </div>
                <div>
                  <div class="footer_body_social">
                    <a href="#" class="footer_body_social_point">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#" class="footer_body_social_point">
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#" class="footer_body_social_point">
                      <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="#" class="footer_body_social_point">
                      <i class="fab fa-youtube"></i>
                    </a>


                </div>
                </div>
            </div>
          </div>
          </div>
        </div>



      </footer>
      <div class="footer-bottom text-center">

<p style="margin:0; padding:10px 0"> <span> Copyright © 2020, Medico.</span> <span>All rights reserved.</span> </p></div>
    </section>
    </body>
    </html>
